.header {
max-width: 100%;
background-color: rgb(29, 28, 28);
}
.header-row {
display: flex;
justify-content: space-between;
align-items: center;
}
.header-logo a {
    color: #ffffff;
    font-size: 50px;
}
.header-logo a::after{
    content: "IT";
    color: #EC7979;
}
nav {
display: block;
}
.menu-list {
display: flex;
height: 100%;
}
.menu-list__item {
padding: 30px 30px;
}
.menu-list__item-features {
padding: 30px 30px;
background-color: #EC7979;
}
.menu-list__item:first-child {
    margin-left: 0;
}
.menu-list__link-features {
    color: white;
    font-family: open sans;
    font-weight: 400;
    }
.menu-list__link {
color: white;
font-family: open sans;
font-weight: 400;
}
.menu-list__item:hover {
background-color: #EC7979;
transition: 0.2s;
}