.pricing-wrapp {
    display: flex;
    justify-content: space-around;
    margin-top: 67px;
}
.pricing-list{
    text-align: center;
    font-weight: 700px;
    width: 250px;
}
.pricing-list-item__tarif{
    font-size: 20px;
    color: #FFFFFF;
    background-color: #333333;
    margin-bottom: 2px;
    line-height: 50px;
}
.pricing-list-item__coast{
    font-size: 35px;
    color: #FFFFFF;
    background-color: #333333;
    margin-bottom: 2px;
    line-height: 100px;
}
.pricing-list-item__free{
    font-size: 14px;
    color: #FFFFFF80;
    background-color: #333333;
    margin-bottom: 2px;
}
.pricing-list-item__space{
    font-size: 14px;
    line-height: 19px;
    background-color: white;
    margin-bottom: 3px;
}
.pricing-list-item__life{
    background-color: tomato;
}
.pricing-discription p{
    margin: auto;
    font-weight: 400;
    text-align: center;
    font-family: open sans;
  }

